<div class="movie-card">
  <img [src]="movieItem().poster" [alt]="movieItem().title" />
  <div class="overlay">
    <h3>{{ movieItem().title }} ({{ movieItem().year }})</h3>
    <p><strong>Durada:</strong> {{ movieItem().runtime }}</p>
    <p><strong>Director:</strong> {{ movieItem().director }}</p>
    <p><strong>Actors:</strong> {{ movieItem().actors }}</p>
    <p><strong>IMDb:</strong> {{ movieItem().imdbRating }}/10</p>
    <p>{{ movieItem().plot }}</p>
    <a
      [href]="'https://www.imdb.com/title/' + movieItem().imdbID"
      target="_blank"
      rel="noopener noreferrer"
    >
      Veure a IMDb
    </a>
  </div>
</div>
