<div class="movie-card">
  <img [src]="movieItem().data.poster" [alt]="movieItem().data.title" />
  <div class="overlay">
    <h3>{{ movieItem().data.title }} ({{ movieItem().data.year }})</h3>
    <p><strong>Durada:</strong> {{ movieItem().data.runtime }}</p>
    <p><strong>Director:</strong> {{ movieItem().data.director }}</p>
    <p><strong>Actors:</strong> {{ movieItem().data.actors }}</p>
    <p><strong>IMDb:</strong> {{ movieItem().data.imdbRating }}/10</p>
    <p>{{ movieItem().data.plot }}</p>
    <a
      [href]="'https://www.imdb.com/title/' + movieItem().data.imdbId"
      target="_blank"
      rel="noopener noreferrer"
    >
      Veure a IMDb
    </a>
  </div>
</div>
